<div class="row">
	<div class="col-lg-3">
		<div class="input-group">
			<label>
                      <input [(ngModel)]="permArray[0]" type="checkbox"
                             aria-label="..." value="false"/>
                    </label>
			<label class="control-label">Check 1</label>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="input-group">
			<input [(ngModel)]="permArray[1]" type="checkbox"
                           aria-label="..." value="false"/>
			<label class="control-label">Check 2</label>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="input-group">
			<input [(ngModel)]="permArray[2]"
                           type="checkbox"
                           aria-label="..."/>
			<label class="control-label">Check 3</label>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="input-group">
			<input [(ngModel)]="permArray[3]"
                           type="checkbox" aria-label="..."/>
			<label class="control-label">Check 4</label>
		</div>
	</div>
	<button (click)="sendPerm()" type="button">Enviar</button>
</div>